.gradle/
build/
*/build/

local.properties

.idea/
*.iml
.navigation/

*.jks
*.keystore
secrets.properties
signing.properties
google-services.json

*.apk
*.aab
*.ap_

.kotlin/
.externalNativeBuild/
.cxx/
captures/

*/src/test/
*/src/androidTest/


